### BMI 예제

- SVM으로 BMI 판정
- 키의 최대값은 200cm, 몸무게의 최대값은 100kg으로 정규화
- 저체중(thin), 정상(normal), 비만(fat) 레이블을 one-hot-encoding [1, 0, 0], [0, 1, 0], [0, 0, 1]로 변환
- 소프트 맥스 회귀방법 , 오차 함수는 교차 엔트로피 사용
- 교차 엔트로피  - 2개의 확률 분포 사이에 정의되는 척도로서 교차 엔트로피 값이 작을 수록 정확한 값을 냄
- 학습 계수 0.01, 경사 하강법(steepest descent method) 사용

In [3]:
import tensorflow as tf
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv('./dataset/bmi.csv')

In [10]:
df

       height  weight   label
0         142      62     fat
1         142      73     fat
2         177      61  normal
3         187      48    thin
4         153      60     fat
...       ...     ...     ...
19995     122      58     fat
19996     193      69  normal
19997     193      37    thin
19998     195      51    thin
19999     163      67  normal

[20000 rows x 3 columns]

In [11]:
#키와 몸무게 정규화
df['height'] = df['height'] / 200
df['weight'] = df['weight'] / 100

In [12]:
df

       height  weight   label
0       0.710    0.62     fat
1       0.710    0.73     fat
2       0.885    0.61  normal
3       0.935    0.48    thin
4       0.765    0.60     fat
...       ...     ...     ...
19995   0.610    0.58     fat
19996   0.965    0.69  normal
19997   0.965    0.37    thin
19998   0.975    0.51    thin
19999   0.815    0.67  normal

[20000 rows x 3 columns]

In [ ]:
#label one-hot encoding